---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ProjectCard.astro";

const completedProjects = await Astro.glob("../updates/completed/*.md");
const ongoingProjects = await Astro.glob("../updates/ongoing/*.md");
---

<Layout title="Dharmzeey Projects">
  <h2 class="my-6 mt-16 heading text-center">
    Projects
  </h2>
  <section>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-0">
      {
        completedProjects.map((project) => (
          <Card>
            <h2 class="mb-4 font-bold text-xl">{project.frontmatter.title}</h2>
            <div class="mb-2 tracking-wider leading-6 text-justify">
               <!--- <span>{project.frontmatter.intro}</span> -->
              </div>
            <div class="px-4 project-img">
              <img
                class="contain" src={`${project.frontmatter.image}`} alt={`${project.frontmatter.title}`}
              />
            </div>
            <small class="text text-gray-300">{project.frontmatter.category}</small>
            <div>
              <a class="btn" href={`/${project.frontmatter.slug}`}>
              View
            </a>
            </div>
          </Card>
        ))
      }
    </div>
  </section>

  <section>
    <h2 class="my-4 heading text-center">
      Here are also few of my ongoing projects
    </h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-0">
      {
        ongoingProjects.map((project) => (
          <Card>
            <h2 class="mb-4 font-bold text-xl">{project.frontmatter.title}</h2>
            <div class="mb-6 tracking-wider leading-6 text-justify">
              <!--- <span>{project.frontmatter.intro}</span> -->
              </div>
            <div class="px-4 project-img">
              <img
                class="contain" src={`${project.frontmatter.image}`} alt={`${project.frontmatter.title}`}
              />
            </div>
            <small class="text text-gray-300">{project.frontmatter.category}</small>
            <div>
              <a class="btn" href={`/${project.frontmatter.slug}`}>
              View
            </a>
            </div>
          </Card>
        ))
      }
    </div>
  </section>

  <Card>
    <div class="tracking-widest leading-6 text-justify">All the above django projects are just concieved ideas and then I tried to build them so I can implement different and more complex functionalities as I progress, though some are deployed already and functionong well but are not currently being in use by any Individuals, Organizations or Company.</div>
  </Card>

  <section>
    <h2 class="my-3 heading text-center">Selenium Projects</h2>
    <Card>
      A web scrapping scripts which helps me get some user data and
      writes them in a txt and excel file using <a class="uppercase" href="https://pypi.org/project/selenium/">Selenium</a> and <a class="uppercase" href="https://pypi.org/project/openpyxl/">Openpyxl</a>. 
      <br>
      It takes in username and password and then logs in and goes to the profile of the logged in user and then read and write the data to a txt file and the to an excel file.
      <br>
       You can check out the source code
      <a class="btn" href="https://github.com/Dharmzeey/profilesIU">Here <i class="fa-brands fa-github text-xl"></i></a>
    </Card>

    <Card>
      This is an automation script written with <a class="uppercase" href="https://pypi.org/project/selenium/">Selenium</a> which helps me log in some username and
      password from a txt file and performs daily task and sign in.
      <br>
       You can also check the
      source code
      <a class="btn" href="https://github.com/Dharmzeey/spot-login">Here <i class="fa-brands fa-github text-xl"></i></a>
    </Card>
  </section>

  <section>
    <h2 class="my-3 heading text-center">My Portfolio Website 😎</h2>
    <Card>
    <p>Yes this awesome and beautiful website</p>
    <p>It is built with Astro and Tailwind CSS with some little Js</p>
    <p>The Source code is here
      <a class="btn" href="https://github.com/Dharmzeey/dharmzeey">Here <i class="fa-brands fa-github text-xl"></i></a>
    </p>
    </Card>
  </section>
</Layout>

<style>
    section{
    @apply leading-10 tracking-widest
  }
</style>
