---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const completedProjects = await Astro.glob("../updates/completed/*.md");
const ongoingProjects = await Astro.glob("../updates/ongoing/*.md");
// console.log(completedProjects)
// console.log(JSON.stringify(completedProjects))
---

<Layout title="Dharmzeey Projects">
  <h2 class="mb-10 heading text-center">
    These are the two main project of my projects
  </h2>
  <section>
    <div>
      {
        completedProjects.map((project) => (
          <Card>
            <h2 class="mb-4 font-bold text-2xl">{project.frontmatter.title}</h2>
            <div class="mb-6 tracking-wider">{project.frontmatter.intro}</div>
            <div class="px-4 project-img">
              <img
                class="contain" src={`${project.frontmatter.image}`} alt=""
              />
            </div>

            <a class="mt-6 btn" href={`/${project.frontmatter.slug}`}>
              View
            </a>
          </Card>
        ))
      }
    </div>
  </section>

  <section>
    <h2 class="mb-10 heading text-center">
      Here are also few of my ongoing projects
    </h2>
    <div>
      {
        ongoingProjects.map((project) => (
          <Card>
            <h2 class="mb-4 font-bold text-2xl">{project.frontmatter.title}</h2>
            <div class="mb-6 tracking-wider">{project.frontmatter.intro}</div>
            <div class="px-4 project-img">
              <img
                class="contain" src={`${project.frontmatter.image}`} alt={`${project.frontmatter.title}`}
              />
            </div>
            <a class="mt-6 btn" href={`/${project.frontmatter.slug}`}>
              View
            </a>
          </Card>
        ))
      }
    </div>
  </section>

  <Card>
    <strong class="tracking-widest">All the above django projects are just concieved ideas and then I tried to build them so I can implement different and more complex functionalities as I progress, though some are deployed already and functionong well but are not currently being in use by any Individuals, Organizations or Company.</strong>
  </Card>

  <section>
    <h2 class="mb-10 heading text-center">Selenium Projects</h2>
    <Card>
      I wrote a web scrapping scripts which helps me get some user data and
      writes them in a txt and excel file using <a href="https://pypi.org/project/selenium/">Selenium</a> and <a href="https://pypi.org/project/openpyxl/">Openpyxl</a>. 
      <br>
      It takes in username and password and then logs in and goes to the profile of the logged in user and then read and write the data to a txt file and the to an excel file.
      <br>
       You can check out the source code
      <a class="btn" href="https://github.com/Dharmzeey/profilesIU">Here <i class="fa-brands fa-github text-xl"></i></a>
    </Card>

    <Card>
      This is an automation script which helps me log in some username and
      password from a txt file and performs daily task and sign in.
      <br>
       You can also check the
      source code
      <a class="btn" href="https://github.com/Dharmzeey/spot-login">Here <i class="fa-brands fa-github text-xl"></i></a>
    </Card>
  </section>
</Layout>

<style>
    section{
    @apply leading-10 tracking-widest
  }
</style>
